################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PerformanceDotNet/obj/Debug/netcoreapp2.1
/src/PerformanceDotNet/bin/Debug/netcoreapp2.1
/src/PerformanceDotNet/obj
/src/PerformanceDotNet/.vs
